@property --volume {
  syntax: "length";
  inherit: false;
  initial-value: 0px;
}

:root {
  // Base colors
  --black: #000000;
  --white: #ffffff;

  // Remap all variables to black and white
  --Neutral-5: var(--white);
  --Neutral-10: var(--white);
  --Neutral-15: var(--black);
  --Neutral-20: var(--black);
  --Neutral-30: var(--black);
  --Neutral-60: var(--black);
  --Neutral-80: var(--black);
  --Neutral-90: var(--black);

  --Blue-500: var(--black);
  --Blue-800: var(--black);

  --Red-400: var(--black);
  --Red-500: var(--black);

  --accent-red: var(--black);
}
